@import "components/bourbon/dist/bourbon";
@import "reset";
@import "typography";
@import "layout";
@import "depth";
@import "shapes";
@import "buttons";
@import "responsive";

$primaryColor: #037CF1;
$accentColor: #FFC300;

.button {
  @include button(1rem 2rem, $primaryColor);
  border-radius: 2px;

  text-transform: uppercase;

  .accent & {
    @include button-color($accentColor);
  }
  .secondary & {
    @include button-color(#666);
  }
  .dangerzone & {
    @include button-color(#FF5300);
  }
}

header {
  background: $primaryColor;
  color: #fff;

  @include depth(2);
  position: relative;

  &> * {
    padding: 1rem;
    @include horizontal(padding, 1rem 2rem);
  }

  .button {
    @include horizontal-divider(margin, 1rem);
    @include button-color(#fff, $primaryColor);
  }
}

.documentPane {
  background: #f9f9f9;

  .document {
    @include vertical(margin, 2rem);
    @include responsive-document(800px, 62%);
    padding: 3rem;

    section {
      @include vertical-divider(margin, 2rem);
    }

    h3 {
      @include vertical-divider(border, 2px solid #ccc);
    }

    .card {
      background: #fff;
    }

    .depths {
      background: #f9f9f9;
      text-align: center;

      .card {
        @include flex-grow(1);
        @include horizontal(margin, 3rem);
        padding: 2rem 0;

        @include paragraph(4);

        &:nth-child(1) {
          @include depth(0);
        }
        &:nth-child(2) {
          @include depth(1);
        }
        &:nth-child(3) {
          @include depth(2);
        }
        &:nth-child(4) {
          @include depth(3);
        }
        &:nth-child(5) {
          @include depth(4);
        }
        &:nth-child(6) {
          @include depth(5);
        }
      }
    }

    .shapes {
      background: #f9f9f9;
      text-align: center;

      .card {
        @include paragraph(1);

        @include display(flex);
        @include justify-content(center);
        @include align-items(center);
        margin: 3rem auto;
        cursor: pointer;

        @include clickable-depth(3, 2);
      }
      .square.normal {
        @include square(200px);
      }
      .square.small {
        @include square(150px);
      }
      .rectangle.widescreen {
        @include rectangle(200px, 16/9);
      }
      .rectangle.fullscreen {
        @include rectangle(200px, 4/3);
      }
      .circle.normal {
        @include circle(200px);
      }
      .circle.small {
        @include circle(150px);
      }
    }

    .components {
      .card {
        @include vertical(margin, 2rem);
        padding: 3rem;
        @include depth(1);

        h5 {
          @include vertical-divider(margin, 1rem);
        }

        .buttons:last-child {
          margin-bottom: 1rem;
        }

        .button {
          @include horizontal-divider(margin, 1rem);
          margin-bottom: 1rem;
        }
      }
    }
  }
}